body {
	background-color: #f0ffff;
}

* {
	box-sizing: border-box;
}

#header-nav {
  background-color: #f11fff;
  border-radius: 0;
  border: 0;
}

a {
	text-align: bottom;
}


.navbar-brand {
	text-align: left;
}

div#dropdown {
	clear: left;
}

h1 {

	clear: both;
}

div.info {

	padding: 10px;


}

div.info > div {
	background: #827252;
	height: 700px;
}
