body {
	background-color: #f0ffff;
}

* {
	box-sizing: border-box;
}

#header-nav {
  background-color: #ce8132;
  border-radius: 0;
  border: 0;
}
li.divider {
	border-bottom: 1px solid;
	  border-color: black;
}



.navbar-brand {
	text-align: left;
}

#nav-list {
    margin-bottom: 0px;
	margin-top: 0px;
}
div#dropdown {
	clear: left;
}

h1 {

	clear: both;
}

div.info {
	padding: 10px;
}


div.info > div {
	background: #878683;
	height: 700px;
}

@media(min-width: 992px) {

  div.info > div {
  	height: 1000px;
  }
}